@{
    ViewBag.Title = "Резюме разработчика ПО";
}

<div id="cv" class="instaFade">
    <div class="mainDetails">
        <div id="headshot" class="quickFade">
            <img src="@Url.Content("~/Content/headshot.jpg")" alt="Михаил Герасимов" />
        </div>

        <div id="name">
            <h1 class="quickFade delayTwo">Разработчик ПО</h1>
            <h2 class="quickFade delayThree">Михаил Герасимов</h2>
        </div>

        <div id="contactDetails" class="quickFade delayFour">
            <ul>
                <li>e: <a href="mailto:joe@bloggs.com" target="_blank">mgerasim@inbox.ru</a></li>
                <li>w: <a href="http://www.bloggs.com">www.mgersaim.ru</a></li>
                <li>m: +7 (924) 108 67 44</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>

    <div id="mainArea" class="quickFade delayFive">
        <section>
            <article>
                <div class="sectionTitle">
                    <h1>О себе</h1>
                </div>

                <div class="sectionContent">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dolor metus, interdum at scelerisque in, porta at lacus. Maecenas dapibus luctus cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
                </div>
            </article>
            <div class="clear"></div>
        </section>


        <section>
            <div class="sectionTitle">
                <h1>Опыт работы</h1>
            </div>

            <div class="sectionContent">
                <article>
                    <h2>ФГБУ &laquo;Дальневосточное УГМС&raquo; (г.Хабаровск)</h2>
                    <p class="subDetails">Февраль 2015 - По настоящее время</p>
                    <p>Должность: Главный инженер Регионального вычислительного центра<br />
                            Функциональные обязанности:<br />
                            1.	Организация работ по техническому обеспечению ЛВС предприяти из ~200 рабочих мест<br />
                            2.	Обеспечение работоспособности 10 серверов (Windows Server 2012, SLES 12, CentOS7) <br />
                            3.	Администрирование Вычислителя 0,6 Тфлпс на базе G-Scale S4700<br />
                            Достижения:<br />
                            1.	Успешная реализация программно-аппаратного комплекса геофизического мониторинга. Выступал в роли Архитектора информационной системы. Технологии, применяемые в разработки: MS Visual Studio 2013, MVC Razor, jQuery, Bootstrap, MS SQL, IIS. Исходный код для ознакомления https://github.com/mgerasim/geospace . Комплекс развернут по следующему адресу http://meteo-dv.ru/geospace/ <br />
                            2.	Участие в аппаратной реализации по проекту центра архивации. Установка серверов ETegro Hyperion, Ленточная библиотека Oracle StorageTek. Участие в настроечных работах по виртуализации на платформе VMWare vShere 6. Настройка балансировщика сетевой нагрузки Citrix NetScaler.
                    </p>
                </article>

                <article>
                    <h2>ОАО  &laquo;Ростелеком&raquo; (г.Хабаровск)</h2>
                    <p class="subDetails">Февраль 2010 - Февраль 2015</p>
                    <p>Должность: Ведущий программист отдела<br />
                        Функциональные обязанности:<br />
                        3.	Сопровождение  и доработка программного комплекса по приему платежей за услуги связи (BorlandC, MySQL, Oracle)<br />
                        4.	Разработка сервисов информирования абонетов<br />
                        a.	Автообзвон для информирования о задолжности за услуги связи (на базе программной АТС Asterisk, платформа CentOS, язык программирвания Perl, БД Postgres) – сервис формирует список должников и на каждый выполняет дозвон<br />
                        b.	SMS уведомления (аппаратная часть GSM-шлюз Siemens, Perl, Postgres) – сервис автоматически информирует абонента о подключении DSL услуги<br />
                        c.	SMS тех поддержка и рассылка (используется сервер Мегафон-Центр по протоколу SMPP, kannel ) – сервис позволяет клиенту отправлять на определенный номер заявку в тех поддержку и получать ответ о решении заявки (CentOS, Perl, Postgres)<br />
                        5.	Участие в команде по разработке Электронного архива ОАО «Ростелеком» - ответственный модуль Web приложение для поиска и просмотра документов электронного архива (сервер OpenSUSE, БД Oracle, Perl, Ruby On Rails).<br />
                        6.	Участие в командной разработки WEB-интерфейса программного комплекса SMS Центр для создания рассылок (Windows 2008 Server, C#, ASP.NET MVC3, протокол отправки SMPP, БД Oracle)<br />
                        7.	Обеспечение работоспособности системы зонтичного мониторинга TTI Netrac (http://www.tti-telecom.com/ru/products/netrac-fault-management)<br />
                                                <br />
                        Достижения<br />
                        1.	Внедрение в процесс разработки Контроль версий исходного кода на основе Mercurial<br />
                        2.	Создание WEB приложений по паттерну MVC<br />
                                                <br />
                        Навыки<br />
                        1.	Двухфакторная авторизация<br />
                        2.	WEB разработка MVC<br />
                        3.	Высокопроизводительные системы HIGHLOAD<br />
                        4.	Кластерные вычисления<br />
                        5.	Модульное тестирование: utPLSQL(Oracle), Postgresql, Spec(Ruby), C#,<br />
                        6.	Изучие протокола SMPP для взаимодействия с SMS-сервером (Kannel под nix-системами, EasySMPP для C#)<br />
                    </p>
                </article>
                
                <article>
                    <h2>ООО «Консультант-ДВ» – информационно-правовая система КонсультантПлюс (г.Хабаровск)</h2>
                    <p class="subDetails">Март 2009 - Январь 2010</p>
                    <p>
                        Должность: Специалист по информационному сопровождению<br />
                        Функциональные обязанности:<br />
                        Качественное выполнение сервисного обслуживания клиентов, путем создания и укрепления личностного контакта с пользователями, использующих КонсультантПлюс в соей работе.<br />
                        Повышение доходов предприятия за счет обеспечения регулярных платежей клиентов за информационное обслуживание и продвижение КонсультантПлюс в новые организации.
                    </p>
                </article>


                <article>
                    <h2>Штаб Дальневосточной армии ВВС и ПВО (г.Хабаровск)</h2>
                    <p class="subDetails">Октябрь 2006 - Октябрь 2008</p>
                    <p>
                        Должность: Офицер отделения автоматизированных систем управления отдела связи<br />
                        Функциональные обязанности:<br />
                        Администрирование автоматизированной системы управления силами и средствами армии. Добавление и удаление пользователей. Регламентное обслуживание техники. Технические характеристики: локальная сеть, около 140 клиентских машин на базе Windows NT, 5 серверов на базе Windows NT Server. Администрирование интегрированной системы безопасности «Орион». Политика доступа к системе для пользователей.<br />
                    </p>
                </article>


                <article>
                    <h2>ООО «Ронда Лимитед» www.rhonda.ru (г.Владивосток)</h2>
                    <p class="subDetails">Сентябрь 2005 - Октябрь 2006</p>
                    <p>
                        Должность: Специалист по информационному сопровождению<br />
                        Функциональные обязанности:<br />
                        Качественное выполнение сервисного обслуживания клиентов, путем создания и укрепления личностного контакта с пользователями, использующих КонсультантПлюс в соей работе.<br />
                        Повышение доходов предприятия за счет обеспечения регулярных платежей клиентов за информационное обслуживание и продвижение КонсультантПлюс в новые организации.
                    </p>
                </article>


                <article>
                    <h2>Дальневосточный региональный центр новых информационных технологий (г.Владивосток)</h2>
                    <p class="subDetails">Январь 2003 - Сентябрь 2005</p>
                    <p>
                        Должность: Инженер-программист<br />
                        Функциональные обязанности:<br />
                        Сопровождение программного продукта «Клерк», собственной разработки, по учету сотрудников и студентов университета, а также для расчета заработной платы и стипендии. Использование: язык программирования MS Visual C++, база данных Sybase 8, доступ к базе данных ODBC, клиентская машина на базе Windows XP, сервер на базе Windows Server 2003.<br />

                    </p>
                </article>

            </div>
            <div class="clear"></div>
        </section>


        <section>
            <div class="sectionTitle">
                <h1>Навыки</h1>
            </div>

            <div class="sectionContent">
                <ul class="keySkills">
                    <li>MS Visual Studio</li>
                    <li>ASP.NET</li>
                    <li>Ruby On Rails</li>
                    <li>Perl</li>
                    <li>Borland C</li>
                    <li>CentOS</li>
                    <li>OpenSuse</li>
                    <li>Windows Server</li>
                    <li>Apache</li>
                    <li>IIS</li>
                </ul>
            </div>
            <div class="clear"></div>
        </section>


        <section>
            <div class="sectionTitle">
                <h1>Образование</h1>
            </div>

            <div class="sectionContent">
                <article>
                    <h2>Дальневосточный государственный технический университет (г.Владивосток)</h2>
                    <p class="subDetails">Специалист по Автоматизированным системам управления и обработки информации<br /></p>
                    <p>
                            Уровень образования: Высшее<br />                            
                            сен/2000 – июн/2005<br />                            
                            Факультет информатики и компьютерных технологий<br />                            
                            Средний балл: 4,5<br />
                            Выполненные работы:<br />
                            Производственная практика (2003 год):<br /> тема «Разработка Windows-приложения для создания иерархических запросов и отображение результатов запросов к базе данных в структурированном виде», при выполнении работы использовался язык программирования MS Visual C++ 98, база данных Oracle, доступ к базе данных ODBC.<br />
                            Дипломная работа (2005 год):<br /> тема «Модернизация программного обеспечения по расчету сотрудников предприятия до трехуровневой архитектуры». При выполнении работы использовался язык программирования MS Visual C++ 98; клиентская машина на базе ОС Windows XP; сервер приложения на базе ОС Windows Server 2003; сервер базы данных на базе ОС Windows Server 2003, база данных Sybase 8; доступ к базе данных ADO; технология компонентов приложений COM+.<br />
                            Оценка дипломной работы «отлично».
                    </p>
                </article>

                
            </div>
            <div class="clear"></div>
        </section>



        <section>
            <div class="sectionTitle">
                <h1>Обучающие курсы</h1>
            </div>

            <div class="sectionContent">
                <article>
                    <h2>Сопровождение виртуальной инфраструктуры. Демонстрация новых возможностей современного центра обработки данных</h2>
                    <p class="subDetails">Июнь 2016<br /></p>
                    <p>
                        Основные темы семинара:<br />
                        ■ 	Повышение эффективности инвестиций в современный ЦОД. Концепция "Always-On Enterprise™"<br />
                        ■ 	Управление, диагностика и мониторинг виртуальной инфраструктуры<br />
                        ■ 	Аварийное восстановление как сервис (DRaaS) и облачные технологии<br />
                        ■ 	Живая демонстрация новых возможностей Veeam Avalability Suite™ v9<br />

                    </p>
                </article>


            </div>
            <div class="clear"></div>
        </section>

    </div>
</div>